@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

.swiper-slide {
  display: flex !important;
  max-width: 14rem;
  border-radius: 1.5rem !important;
  height: 18rem !important;
}

@media screen and (min-width: 640px) {
  .swiper-slide {
    min-width: 20rem;
    max-width: 20rem;
    height: 30rem !important;
  }
}

.carousel-indicators .carousel-indicator.active {
  opacity: 1;
}

.swiper-button-prev {
  color: #fff !important;

}

.swiper-button-next {
  color: #fff !important;
  position: absolute !important;
  right: 3rem !important;
}
